body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #5dd6e9;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 32px;
  font-weight: 900;
}

.login {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.content-section {
  flex: 1;
  display: flex;
  height: 1rem;
}

.sidebar {
  display: flex;
  justify-content: left;
  color: white;
  font-size: 24px;
  flex-shrink: 0;
  padding: 16px;
  width: 15vw;
  min-width: fit-content;
  max-width: 150px;
  flex-direction: column;
}

.filter {
  border: 1px solid lightslategray;
  padding: 8px;
  margin: 8px;
  flex-grow: 1 0;
  height: fit-content;
  border-radius: 1vw;
  box-shadow: 5px 5px lightslategray;
}

.tasklist {
  padding: 32px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-top-left-radius: 1vw;
  background-color: white;
  flex-grow: 1;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.task {
  display: flex;
  border: 1px solid lightslategray;
  padding: 16px;
  margin: 16px;
  flex-grow: 0 1;
  border-radius: 1vw;
  background-color: #5dd6e9;
  box-shadow: 5px 5px lightslategray;
  height: fit-content;
  gap: 16px;
  animation: create-task .3s linear;
  /*flex-basis: 0;*/
}

.completeBox {
  display: flex;
  margin: 20px;
  transform: scale(5);
}

.taskContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /*flex-grow: 1;*/
}

.button {
  cursor: pointer;
  justify-content: center;
}

.taskTextBox {
  border: 0;
  background: transparent;
  width: 100%;
  font-size: 18px;
}

.mainAttributes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.attribute {
  display: flex;
  gap: 10px;
}

.dynamicAttributes {
  display: flex;
}

.nameSpace {
  display: flex;
  justify-content: space-between;
}

.hiddenClass {
  display: none;
}

.completedHidden {
  display: none;
}

.completedShown {
  display: flex;
}

.showButton,.hideButton {
  cursor: pointer;
  justify-content: center;
  width: 110px;
}

.attributeManager {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submitButton {
  display: flex;
  justify-content: right;
}

@keyframes create-task {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes move-task {
  from {
    motion-offset: 0;
  }
}